<PolarisStack @alignment="center" @vertical={{true}} as |stack|>
  {{#if @withIllustration}}
    <stack.item>
      {{! TODO: replace this with polaris-image when implemented. }}
      <img
        src={{or
          @illustrationSrc
          "/@smile-io/ember-smile-polaris/illustrations/empty-search.svg"
        }}
        alt="Empty search results"
        class="Polaris-EmptySearchResult__Image"
        draggable="false"
      />
    </stack.item>
  {{/if}}

  <PolarisDisplayText @size="small" @text={{@title}} />

  {{#if @description}}
    <stack.item>
      <Text @as="span" @tone="subdued">
        <p>{{render-content @description}}</p>
      </Text>
    </stack.item>
  {{/if}}
</PolarisStack>